body{
    background-color: lightslategray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    display: block;                 /* full width block */
    width: fit-content;             /* shrink to fit text */
    border: 0.1em solid black;
    border-radius: 1em;
    background-color: aliceblue;
    padding: 0.2em 0.5em;
    margin: 1em auto;               /* top/bottom 1em, centered horizontally */
    text-align: center;             /* centers text inside h1 */
}


.image {
    display: block;
    border: 0.25em solid black;
    margin: 1em;
}

.home-link {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
    background-color: lightblue;
    border: 0.1em solid black;
    border-radius: 1em;

    text-decoration: none;
    color: black;
    transition: transform 0.2s ease, background-color 0.2s ease ;
}

.subheading{
    background-color: aliceblue;
    width: fit-content;
    display: block;
    padding: 0.5em;
    border: 0.20em solid black;
    border-radius: 1em;
    margin: 1em auto;
    text-align: center;
}

.description {
    text-align: center;
    border: 0.25em solid black;
    border-radius: 1em;
    padding: 0.5em;
    background-color: aliceblue;
}

.home-link:hover{
    transform: scale(1.1);
    background-color: lightgrey;
    color: darkred;
}

.items{
    display: block;
    padding: 1em;
    text-align: left;
    margin: 1em auto;
    background-color: aliceblue;
    list-style-type: none;
    width: fit-content;
    border: 0.25em solid black;
    border-radius: 1em;

}

.actual-items{
    padding: 0.25em;

    border-bottom: 0.15em dashed black;
}

.Steps{
    display: block;
    padding: 1em;
    text-align: left;
    margin: 1em auto;
    background-color: aliceblue;
    width: fit-content;
    border: 0.25em solid black;
    list-style-position: inside; 
}

.actual-steps{
    padding: 0.25em;

    border-bottom: 0.15em dashed black;
}

