body{
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
}

ul{
    list-style-type: none;;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 1em;
    margin-left: 2em;
}

.topHeading{
    background-color: lightcyan;
    border: 1em;

    outline: auto;
    outline-color: black;
    outline-style: solid;
    outline width: 1em;;
}
