body{
    background-color: lightblue;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul{
    list-style-type: none;;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 0;
}

.recipeLinks{
    display: inline-block;
    background-color: aliceblue;
    padding: 1em;
    margin: 1em;
    text-align: center;

    border: 0.10em solid black;

    font-size: 16px;
    border-radius: 1em;

    transition: transform 0.2s ease, background-color 0.2s ease;

}

.topHeading{
    text-align: center;
    background-color: lightcyan;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 1em;

    display: inline-block;

    outline: auto;
    outline-color: black;
    outline-style: solid;
    outline-width: 0.10em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkred;
}

.recipeLinks:hover{
    transform: scale(1.1);
    background-color: lightgray;
}


